body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
  width: 100%;
  max-width: 800px;
  background-color: #e3e2e2;
}
.flexbox {
  display: flex;
}
h2,
p {
  margin: 0;
  font-size: inherit;
  font-weight: normal;
}
.info {
  padding: 1rem 0.8rem;
  background-color: #161a25;
  color: #d9dadd;
  border-radius: 1.3rem;
  border: 3px solid #1d3d59;
}
.info .separador {
  width: 100%;
  height: 2px;
  background-color: #d9dadd;
  margin: 0.5rem 0;
}

.info header .icono {
  vertical-align: middle;
}
.info header .titulo {
  font-size: 1rem;
  line-height: 1.4;
  display: inline-block;
}
.info header .icono {
  vertical-align: middle;
}
.info .texto {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1.8;
  text-align: right;
}
